.essay-field {

}
h1 {
	width: 20em;
	margin: auto;
	text-align: center;
}
.nav-bar{
	margin-top: 2em;
}
.nav-bar-item-container{
	display: inline-block;
    width: 20%;
}
.nav-bar-item {
    border: .02em solid red;
    text-align: center;
    border-radius: 4px;
}	

.blog-post{}
.blog-post-title{}
.blog-post-category{}
.blog-post-date{}
.blog-post-body{}

.sidebar{}
.sidebar-header{}
.sidebar-items{}
.sidebar-item{}
.sidebar-item-title{}
.sidebar-item-date{}
.sidebar-item-content{}
