.essay-field {

}
h1 {
	width: 20em;
	margin: auto;
	text-align: center;
}
.nav-bar{
	margin: 2em;
}
.nav-bar-item-container{
	width: 25%;
	display: inline-block;
	margin: auto;
}
.nav-bar-item {
    border: .02em solid red;
    text-align: center;
    border-radius: 4px;
}	

.blog-post{}
.blog-post-title{}
.blog-post-category{}
.blog-post-date{}
.blog-post-body{}

.sidebar{}
.sidebar-header{}
.sidebar-items{}
.sidebar-item{}
.sidebar-item-title{}
.sidebar-item-date{}
.sidebar-item-content{}

.login{
	text-align: center;
}
.dashboard-nav-bar{
	margin: 2em auto;
	width: 20em;
}
.dashboard-nav-bar-item{
	display: inline-block;
	margin: .5em 1em 1em;
	border: .02em solid red;
	border-radius: 4px;
}
.blog-entry-form {
	text-align: center;
}
.blog-entry-title {
	width: 30em;
	margin: 0 auto;
}
.blog-entry-body{
	width: 30em;
	margin: 0 auto;
	height: 20em;
	display: block;
}
.login-container {
	width: 20em;
	margin: 0 auto;
	text-align: center;
}
.blog-to-edit-list-container{}
.blog-to-edit-list{}
.blog-to-edit {}
.dashboard-header{}

.sign-out{
	display: inline-block;
}
